<!DOCTYPE html>
<html lang="en">
<!-- HEAD -->
<%-include('./partials/head')%>

<body class="admin">
    <!-- HEADER -->
    <%-include('./partials/header')%>
    <div class="boton5">
      <input type="checkbox" >
      <a class="link" href="/admin/create">Nuevo</a>
    </div>
    <div class="list">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">Producto</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Color</th>
                    <th scope="col">Talle</th>
                    <th scope="col">Para</th>
                    <th scope="col">Coleccion</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Opciones</th>
                </tr>
            </thead>
            <tbody>
                <%products.forEach(element =>{%>
                    <tr>
                        <th scope="row"><img src="/images/<%= element.image %>" alt=""></th>
                        <td><%= element.name %></td>
                        <td><%= element.color %></td>
                        <td><%= element.talle %></td>
                        <td><%= element.para %></td>
                        <td><%= element.coleccion %></td>
                        <td><%= element.estado %></td>
                        <td><%= element.precio %></td>
                        <td class="adminboton">
                            <div class="botones">
                                <button class="enviar" type="button">Editar</button>
                                <form action="/admin/delete/%= products.id %>?_method=DELETE " method="DELETE">
                                    <button type="submit" class="enviar">ELIMINAR</button>
                            </div>
                        </td>
                    </tr>
                <% }) %>
                
            </tbody>
        </table>
    </div>

    <%-include('./partials/footer')%>
</body>

</html>