<!DOCTYPE html>
<html lang="en">
<!-- HEAD -->
<%-include('./partials/head')%>
<!-- HEADER -->

<body class="edit">
    <%-include('./partials/header')%>

    <main>
        <form class="formularios" action="/admin/edit/<%= product.id %>?_method=PUT" method="POST">
            <div class="form-floating">
                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
                <label for="floatingTextarea">Nombre del producto: <i><%= product.name%></i></label>
            </div>

            <div class="form-floating">
                <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                    <option selected><%= product.color%></option>
                    <option value="1">Rojo</option>
                    <option value="2">Azul</option>
                    <option value="3">Verde</option>
                </select>
                <label for="floatingSelect">Color</label>
            </div>

            <div class="form-floating">
                <label for="floatingSelect">Talle</label>
                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
                <label for="floatingTextarea"><%= product.talle%></label>
                
            </div>
            

            <div class="form-floating">
                <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                    <option selected><%= product.genero%></option>
                    <option value="1">******</option>
                    <option value="2">******</option>
                    <option value="3">******</option>
                </select>
                <label for="floatingSelect">Genero</label>
            </div>

            <div class="form-floating">
                <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                    <option selected><%= product.coleccion%></option>
                    <option value="1">******</option>
                    <option value="2">******</option>
                    <option value="3">******</option>
                </select>
                <label for="floatingSelect">Coleccion</label>
            </div>

            <div class="form-floating">
                <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                    <option selected><%=product.estado%></option>
                    <option value="1">En venta</option>
                    <option value="2">Agotado</option>
                </select>
                <label for="floatingSelect">Estado</label>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text">$</span>
                <input type="text" value="<%= product.precio%>" class="form-control" aria-label="Amount (to the nearest dollar)">
                <span class="input-group-text">$</span>
            </div>

            <div class="mb-3">
                <label for="formFile" class="form-label"></label>
                <input class="form-control" type="file" id="formFile">
              </div>
              <div class="botones">
                <button type="submit" class="enviar">Editar</button>
            </div>
        </form>
        

    </main>

    <%-include('./partials/footer')%>
</body>

</html>