<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>

<body class="register">
    <%- include('./partials/header') %>

    <main>
        
        <form class="formularios" id="formularios" action="/register" method="POST" enctype="multipart/form-data">
            <div class="form" id="for">
                
                <input type="text" name="Nombre" id="Nombre" placeholder="Juan" value="<%= locals.old && old.Nombre ? old.Nombre : null %>">
                <span id="erroresNombre" style="color: red;"></span> <br>
                <%if (locals.errors && errors.Nombre) {%>
                    <small class="error"> <%= errors.Nombre.msg %> </small>
                <% } %>

                <input type="text" name="Apellido" id="Apellido" placeholder="Gonzalez" value="<%= locals.old && old.Apellido ? old.Apellido : null %>">
                <span id="erroresApellido" style="color: red;"></span> <br>
                <%if (locals.errors && errors.Apellido) {%>
                    <small class="error"> <%= errors.Apellido.msg %> </small>
                <% } %>

                <input type="text" name="DNI" id="DNI" placeholder="D.N.I." value="<%= locals.old && old.DNI ? old.DNI : null %>">
                <span id="erroresDNI" style="color: red;"></span> <br>
                <%if (locals.errors && errors.DNI) {%>
                    <small class="error"> <%= errors.DNI.msg %> </small>
                <% } %>
                
            
    
                <input type="date" name="Nacimiento" id="Nacimiento"  placeholder="Nacimiento" value="<%= locals.old && old.Nacimiento ? old.Nacimiento : null %>">
                <span id="erroresNacimiento" style="color: red;"></span> <br>
                <%if (locals.errors && errors.Nacimiento) {%>
                    <small class="error"> <%= errors.Nacimientomsg %> </small>
                <% } %>


                <select name="Sexo" >
                    <option selected>Selecciona tu sexo</option>
                    <option value="select 1">Hombre</option>
                    <option value="select 2">Mujer</option>
                </select>
                

                </select>

                <select name="Rol" id="Rol" >
                    <option selected>Selecciona la tu rol</option>
                    <option value="1">Admin</option>
                    <option value="2">User</option>
                </select>
                

                <input type="mail" name="Email" id="Email" placeholder="juangonzalez@gmail.com" value="<%= locals.old && old.email ? old.email : null %>">
                <span id="erroresEmail" style="color: red;"></span> <br>
                <%if (locals.errors && errors.Email) {%>
                    <small class="error"> <%= errors.Email.msg %> </small>
                <% } %>

                <input type="Password" name="Password" id="Password" placeholder="Contraseña">
                <span id="erroresPassword" style="color: red;"></span> <br>
                <%if (locals.errors && errors.password) {%>
                    <small class="error"> <%= errors.password.msg %> </small>

                
                <% } %>  
                
            </div>
             

            <div class="image">
                <input name="Image"  id="Image" type="file">
            </div>
            <div class="botones">
                <button class="enviar" type="submit">Enviar</button>
                <small ><a href="/login">¿Ya tienes cuenta? Ingresa aqui</a></small>
            </div>
                
        </form>

    </main>

    <%- include('./partials/footer') %>
    <script src="../js/validationRegister.js"></script>
</body>

</html>