<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>

<body class="register">
    <%- include('./partials/header') %>

    <main>

        <form class="formularios" action="/register" method="POST" enctype="multipart/form-data">
            <div class="form">
                <input type="text" name="Nombre" placeholder="Juan" value="<%= locals.old && old.Nombre ? old.Nombre : null %>">
                <%if (locals.errors && errors.Nombre) {%>
                    <small> <%= errors.Nombre.msg %> </small>
                <% } %>

                <input type="text" name="Apellido" placeholder="Gonzalez" value="<%= locals.old && old.Apellido ? old.Apellido : null %>">
                <%if (locals.errors && errors.Apellido) {%>
                    <small> <%= errors.Apellido.msg %> </small>
                <% } %>

                <input type="text" name="DNI" placeholder="D.N.I." value="<%= locals.old && old.DNI ? old.DNI : null %>">
                <%if (locals.errors && errors.DNI) {%>
                    <small> <%= errors.DNI.msg %> </small>
                <% } %>
    
                <input type="date" name="Fecha-de-nacimiento" >

                <select name="Sexo" >
                    <option selected>Selecciona la tu sexo</option>
                    <option value="hombre">Hombre</option>
                    <option value="mujer">Mujer</option>
                </select>
                

                <input type="text" name="Email" placeholder="juangonzalez@gmail.com" value="<%= locals.old && old.Email ? old.Email : null %>">
                <%if (locals.errors && errors.Email) {%>
                    <small> <%= errors.Email.msg %> </small>
                <% } %>

                <input type="password" name="Contraseña" placeholder="Contraseña">
                <%if (locals.errors && errors.Contraseña) {%>
                    <small> <%= errors.Contraseña.msg %> </small>
                <% } %>

                <input type="password" name="Confirmar-Contraseña" placeholder="Confirmar Contraseña">
            </div>
            <div class="image">
                <input name="image" type="file">
            </div>
            <div class="botones">
                <button class="enviar" type="submit">Enviar</button>
                <small><a href="/login">¿Ya tienes cuenta? Ingresa aqui</a></small>
            </div>
        </form>

    </main>

    <%- include('./partials/footer') %>
</body>

</html>